snippet #! "bash file header"
#Author: trg.doshi 
#Date: `!v strftime('%c')`
endsnippet

snippet zlog "log_temp"
console.log($1, '<--- 🐝')
endsnippet



snippet xlog "log color"
 console.log( '%cThis is variable : rendering....!', 'color: green; font-size: 11px;', $1)
endsnippet



